@import "ui-variables";

atom-workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: @text-color;
  background-color: @app-background-color;
  font-family: @font-family;

  atom-workspace-axis {
    position: relative;
  }

  atom-workspace-axis.horizontal {
    display: flex;
    flex: 1;
    min-width: 0;
  }

  atom-workspace-axis.vertical {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
  }
}
// titleBarStyle: 'hidden-inset'
.platform-darwin .tab-bar {
  padding-left: 80px;
  height: 36px;
  .tab {
    height: 36px;
    line-height: 36px;
  }
}
